
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color:#2580e87e;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

#mobile-nav  span a{
	color: white;
}



 #mobile-nav span:hover{
	border-bottom: 3px solid white;

 }

.burger {
	
	background-color:#2580E8;
	display: block;
	margin-bottom: 10px;
	color: white;
	text-align: center;
}

/* index page */

#hero-con {
	
	background: url(../images/girl_leaf_mobile.jpg);
	height: 458px;
}

#hero-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	
	margin-top: 60px;
	font-size:20px;
	color: white;
	font-family: 'Times New Roman', Times, serif;
}
#hero-text h2 {
	font-size: 35px;
	margin-top: 20px;
}

#image-slider-con {
	
	/* Remove as content will dictate height */
	height: 640px;
	position: relative;
	font-family: 'Times New Roman', Times, serif;
	
}

#image-slider-con h2 {
	
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
	background-color: #fff;
	font-size: 40px;
	padding-bottom: 0%;
}
#image-slider-con h3 {
	
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
	background-color: #2580e87e;
	font-size: 40px;
	color: white;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#about-us-con h2 {
	
	text-align: center;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
}

#about-us-text-con {
	background-color:#2580e87e ;
}

#about-us-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 580px;
	
	
	font-size: 44px;
	
}
#about-us-text h2 {
	font-size: 55px;
	margin-bottom: 30px;
	text-align: left;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
}
#contact {
	margin-top: 100px;
	margin-bottom: 100px;
}
#contact-us-con{
	font-family: 'Times New Roman', Times, serif;
}

#contact-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	margin-bottom: 10px;
	font-size: 25px;
	height: 300px;
	
}

#contact-form textarea {
    height: 300px;
	
}


input, textarea {
    padding: 12px;
   border: 2px solid ;
    border-radius:  15px;
    background-color:#2580E8;
    margin-bottom: 30px;
    font: inherit;
	font-size: 15px;
	color: #ddd;
	
}



input[type="submit"] {
    width: 150px;
    padding: 16px 32px;
    background-color:#2580E8;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
}


#contact-form {
	grid-column: 1/-1;
	margin-bottom: 30px;
	font-family: 'Times New Roman', Times, serif;
	
	
	
	
}
::placeholder {
	color:#fff;
	font-family: 'Times New Roman', Times, serif;
}
#contact-form form {
    display: flex;
    flex-direction: column;
}
/*Common page elements  */
#footer-newsletter1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	
	font-size:30px;
	color: #ddd; 
	margin-top: 40px;
	width: 200px;
	
}
#footer-con {
	height: 410px;
	background-color:#2580e87e ;
	font-family: 'Times New Roman', Times, serif;
}
  
#footer-con button:hover {
	background-color: #626262;
    border-radius: 0;


}


#footer-box {
	margin-top: 40px;
	/* Remove as content will dictate height */
	
	grid-column: 1/2;
	background-color: #2580E8;
	color: #ddd;
	font-size: 20px;
	text-align: center;
	border: none;
}

#footer-box:hover{
	background-color: #626262;
	color: #ddd;
}


/* gallery page */

#hero-gallery-con {
	background-color: #aaaaaa;
	background: url(../images/hero_image_gallery_mobile.jpg) no-repeat bottom;
	height:458px;
	color: white;
	font-size: 25px;
	
}

#hero-gallery-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
	margin-top: 47px;
	font-family:'Times New Roman', Times, serif;
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 30px;
	text-align:center;
}
#gallery h3{
	text-align: center;
	color: white;
	font-size: 40px;
}

.gallery-box {
	grid-column: 1/-1;
	background-color: #2580e87e;
	/* Remove as content will dictate height */
	
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}

#footer-newsletter2 {
	margin-bottom: 40px;
	
	grid-column: 1/2;
	background-color: #2580E8;
	

	font-size: 22px;
	text-align: center;
	 border-radius: 10px;
}
#footer-newsletter2  a:hover{
	background-color: #626262;
   color: #fff;

}